@using TrivialPursuit.Models.Game
@model GameVersionSelect
@{
    ViewBag.Title = "Index";
}

<h2>Select which version you would like to play:</h2>

<ul>

@foreach (var item in Model.Versions)
{
    <li>
        @Html.ActionLink(item.Name, "Game", new { id = item.Id })
    </li>
}
</ul>