@model TrivialPursuit.Models.GameBaseModels.GameMenuModel

@{
    ViewBag.Title = "Win";
}

<h2>Win</h2>
@if (User.Identity.IsAuthenticated)
{
    <p><a href='@Url.Action("Index", "GameBase")' class="btn btn-primary">Play Again</a></p>
}

