@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Phone">P:</abbr>
    317.506.5360
</address>

<address>
    <strong>Creator:</strong>   <a href="mailto:konradhaight@gmail.com">konradhaight@gmail.com</a><br />
</address>